certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
docopt==0.6.2
Flask==2.0.1
idna==3.2
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysql-connector==2.2.9
pipreqs==0.4.10
requests==2.26.0
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.1
yarg==0.1.9
zipp==3.5.0
